


:root{
	--colorPrimary: #0A70CE;
	--colorSecondary: #FEC240;

	--colorBack: #262F38;
	--colorBack2: #24313E;
	--colorWhite: #F4F7F9;

	--colorTitle: #2E363D;
	--colorSubtitle: #51606D;
	--colorText: #5C6064;
	--colorDetails: #7D8E9F;
	--colorBorder: #ebedf1;
	--colorBox: #ebf1f9;

	--colorGrey: #F9F9F9;


	--colorGris: #74787C;
	--colorGrisFade: #EDF1F4;

	--colorAmarillo: #FFEB5C;
	--colorAmarilloFade: #E6F88B;

	--colorNaranja: #FFA836;
	--colorNaranjaFade: #FFF2AF;

	--colorAzul: #3180F6;
	--colorAzulFade: #A2D4FF;

	--colorVerde: #64D4B5;
	--colorVerdeFade: #AAFFE8;

	--colorRojo: #FC4848;
	--colorRojoFade: #FFB8B8;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F4F5F8;
	font-size: 13px;
	min-height: 100vh;
	position: relative;
}
h1{font-size: 34px;}
h2{font-size: 28px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}

hr{background: var(--colorBorder);opacity: 1}

.padding80{
	padding-bottom: 80px;
	padding-top: 80px;
}
.mb60{margin-bottom: 60px;}
.mb40{margin-bottom: 40px;}
.mb30{margin-bottom: 30px;}
.mb20{margin-bottom: 20px;}


.pt40{padding-top: 40px;}
.pb40{padding-bottom: 40px;}


.bg_verde{background-color: var(--colorVerde)}
.bg_amarillo{background-color: var(--colorAmarillo)}
.bg_rojo{background-color: var(--colorRojo)}
.bg_azul{background-color: var(--colorAzul)}
.bg_naranja{background-color: var(--colorNaranja)}
.bg_gris{background-color: var(--colorGris)}

.bg_verdef{background-color: var(--colorVerdeFade)}
.bg_amarillof{background-color: var(--colorAmarilloFade)}
.bg_azulf{background-color: var(--colorAzulFade)}
.bg_naranjaf{background-color: var(--colorNaranjaFade)}
.bg_rojof{background-color: var(--colorRojoFade)}
.bg_grisf{background-color: var(--colorGrisFade)}

.color_white{color: #fff !important;}
.color_verde{color: var(--colorVerde) !important}
.color_rojo{color: var(--colorRojo) !important}
.color_azul{color: var(--colorAzul) !important}
.color_gris{color: var(--colorGris) !important}
.color_naranja{color: var(--colorNaranja) !important}


.color_title{color: var(--colorTitle) !important;}
.certificaci{
	/*display: inline-block;
	padding: 4px 20px;
	border-radius: 8px;
	background-color: var(--colorAzulFade);
	color: var(--colorAzul);
	font-size: 16px;*/
}
.btn_control{
	position: relative;
	border-radius: 4px;
	padding: 6px 15px;
	font-size: 12px;
	font-weight: 600;
	margin-top: 4px;
	margin-bottom: 4px;
	color: var(--colorDetails);
	display: inline-flex;
	align-items: center; 
}
/****************************************************/

body{
	min-height: 100vh;
}



.copi {
	position:relative;
	text-decoration: none;
	padding: 2px 8px;
	color: white;
	background: var(--colorPrimary);
	cursor: pointer;
	transition: all 300ms;
	margin-left: 15px;
	border-radius: 4px;
}
.copi:hover {
	background: var(--colorSecondary);
}


.form_page{
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 100%;
}

.fp_head{
	position: relative;
}
.fp_head img{width: 54px;}



.fp_data{
	position: relative;
}
.fp_title{position: relative;}


.fp_ponentes{position: relative;}
.fp_ponentes .fpp_list{
	position: relative;
}
.fp_ponentes .fpp_list .fpp_item{
	position: relative;
	width: 360px;
	height: 84px;
	padding: 8px 18px;
	background: #fff;
	box-shadow: 6px 10px 30px rgba(0,0,0,0.05);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.fpp_box{
	position: relative;
	display: flex;
}
.fp_ponentes .fpp_list .fpp_item .fpp_img{
	width: 60px;
	height: 60px;
	margin-right: 15px;
	border-radius: 4px;
	overflow: hidden;
}
.fp_ponentes .fpp_list .fpp_item .fpp_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fpp_data{
	position: relative;
}
.fpp_data h5{
	margin: 0 0 2px;
	color: var(--colorTitle);
	font-size: 13px;
}
.fpp_data p{
	font-size: 10px;
	margin: 0;
}
.fpp_data ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 8px;
}
.fpp_data ul li{margin-right: 15px;}
.fpp_data ul li a{
	font-size: 12px;
	color: var(--colorDetails);
	text-decoration: none;
	opacity: 0.5;
	transition: all 300ms;
}
.fpp_data ul li a:hover{
	opacity: 1;
}




.fp_form{
	position: relative;
	width: 100%;
	background: #fff;
	border-radius: 12px;
	padding: 40px 60px;
	box-shadow: 10px 20px 50px rgba(0,0,0,0.05);
	overflow: hidden;
}
.fpf_title{
	position: relative;
}
.fpf_title h3{
	color: var(--colorTitle);
	margin: 0 0 10px;
}
.fpf_title p{
	color: var(--colorText);
	line-height: 1.6;
}

.fp_form .form-group{
	position: relative;
	margin-bottom: 14px;
}
.fp_form .form-group label{
	display: block;
	font-size: 11px;
	font-weight: 600;
	color: var(--colorTitle);
	margin: 0 0 2px;
}
.fp_form .form-group input,
.fp_form .form-group select{
	width: 100%;
	height: 42px;
	border: 1px solid var(--colorBorder);
	border-radius: 8px;
	padding: 2px 12px;
	transition: all 300ms;
}
.fp_form .form-group input:active,
.fp_form .form-group input:focus{
	outline: none;
	border-color: var(--colorAzul);
}

.fp_form .form-group button{
	width: 100%;
	height: 54px;
	border: none;
	border-radius: 8px;
	color: #fff;
	background: var(--colorVerde);
	font-weight: 600;
}

.fpf_foot{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 40px;
	background: #F4F5F8;
}
.fpf_foot > *{
	margin: 0;
	color: var(--colorDetails);
	font-size: 12px;
}
.fpf_foot a{
	color: var(--colorAzul);
	text-decoration: none;;
}












.item_ld{
	position: relative;
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid var(--colorBorder);
	padding-bottom: 20px;
}
.item_ld:last-child{
	border: none;
	padding: 0;
}
.item_ld p{margin: 0;}
.item_ld a{
	display: inline-block;
	padding: 8px 20px;
	background: var(--colorAzul);
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	margin-left: auto;
}







.btncompartircert{
	position: relative;
}
.btncompartircert ul{
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}
.btncompartircert ul li{
	margin-right: 15px;
}
.btncompartircert ul li:last-child{
	margin-right: 0px;
}

.btncompartircert a{
	width: 34px;
    height: 34px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    color: #fff;
    text-decoration: none;
}

.apis_tt{
	background-color: #43C5FF;
}
.apis_fb{
	background-color: #336ADB;
}
.apis_li{
	background-color: #007bb5;
}

@media(max-width: 1199px){

}
@media(max-width: 992px){

}
