:root{	
	--colorMorado: #403CBA;
	--colorAzul: #184494;
	--colorCeleste: #20A4F0;
	--colorVerde: #28CE7F;
	--colorAmarillo: #FCCE64;
	--colorRojo: #EA5050;
	--colorMagenta: #E23A8A;

	--colorBack: #151E23;
	--colorWhite: #F4F8F9;
	--colorInput: #EFF3F9;

	--colorTitle: #333846;
	--colorSubtitle: #9FB9CC;
	--colorText: #98A5B5;
	--colorDetails: #6E767F;
	--coloBorder: #cedbdd;

	--sizeDetails: 14px;
	--sizeText: 16px;
	--sizeSubtitle: 18px;
	--sizeTitle: 28px;
	--sizeBigtitle: 58px;

	--lineheightText: 1.6;
	--lineheightTitle: 1.2;
	--lineheightNone: 1;
}

body{
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
}






.contratar_section{
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 680px;
}
.cs_container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.contratar_section .cs_lateral{
	width: 600px;
	height: 100%;
	flex: 0 0 420px;
	background-color: var(--colorMorado);
}
.contratar_section .cs_lateral.csl_mini{
	width: 280px;
	flex: 0 0 280px;
}
.cs_lateral .csl_box{
	position: relative;
	padding: 40px 60px;
	width: 100%;
	height: 100%;
}
.csl_container{position: relative;width: 100%;height: 100%;}
.csl_top{
	position: relative;
	width: 100%;
	margin-bottom: 40px;
}
.csl_top img{
	width: 120px;
}
.csl_top h2{
	font-size: 26px;
	font-weight: 700;
	color: #fff;
	opacity: 0.8;
	line-height: 1.4;
}


.csl_bottom{
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
.csl_bottom img{
	width: 100%;
	margin-bottom: 0px;
}

.csl_bottom h4{
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	opacity: 0.8;
	padding: 0 10px;
	line-height: 1.4;
}












.contratar_section .cs_main{
	width: calc(100% - 420px);
	flex: 0 0 calc(100% - 420px);
	height: 100%;
	background-color: #fff;
}
.csm_box{
	position: relative;
	max-width: 540px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cs_main .csm_title{
	position: relative;
	margin-bottom: 20px;
}
.cs_main .csm_title h2{
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 10px;
	color: var(--colorTitle);
}
.cs_main .csm_title p{
	font-size: 14px;
	line-height: 1.5;
	color: var(--colorText);
}



.csm_form{
	position: relative;
}
.csm_form .cmsf_item{
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}
.csm_form .cmsf_item label{
	display: block;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 2px;
}
.csm_form .cmsf_item input{
	width: 100%;
	height: 40px;
	border: none;
	background-color: var(--colorInput);
	border-radius: 4px;
	padding: 2px 8px;
}
.csm_form .cmsf_item select{
	width: 100%;
	height: 40px;
	border: none;
	background-color: var(--colorInput);
	border-radius: 4px;
	padding: 2px 8px;
}

.csmf_button button{
	width: 100%;
	height: 42px;
	border: none;
	border-radius: 4px;
	background-color: var(--colorCeleste);
	color: #fff;
	font-weight: 500;
}









.cs_separador{
	width: 100%;
	border-bottom: 1px solid #ddd;
	position: relative;
	margin: 20px 0;
}
.cs_separador:before{
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
}
.cs_separador:after{
	content: "";
	width: 12px;
	height: 12px;
	border: 1px solid #ddd;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}





.cs_contacto{position: relative;}
.cs_contacto p{
	font-size: 12px;
	font-weight: 400;
	margin: 0 0 10px;
	color: var(--colorText);
}
.cs_contacto p span{color: red;}
.cs_contacto .csc_buttons{
	position: relative;
	display: flex;
	align-items: center;
}
.cs_contacto .csc_buttons a{
	position: relative;
	height: 42px;
	border-radius: 4px;
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-right: 15px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	transition: all 300ms;
}
.cs_contacto .csc_buttons a.csc_wide{
	width: 240px;
	background-color: var(--colorMagenta);
	color: #fff;
}
.cs_contacto .csc_buttons a.csc_social{
	width: 42px;
	background-color: var(--colorWhite);
	color: var(--colorText);
}
.cs_contacto .csc_buttons a:hover{
	box-shadow: 0px 10px 24px rgba(0,0,0,0.07);
}



@media(max-width: 1200px){
	.contratar_section{
		position: relative;
		height: auto;
	}
	.contratar_section .cs_lateral{
		width: 100%;
		flex: 0 0 100%;
		order: 2;
	}
	.contratar_section .cs_main{
		width: 100%;
		flex: 0 0 100%;
	}
	.csm_box {
	    position: relative;
	    max-width: 620px;
	    top: auto;
	    left: 50%;
	    transform: translateX(-50%);
	    padding: 60px 0;
	}
	.csl_container{
		display: flex;
	}
	.csl_top{
		width: 50%;
		flex: 0 0 50%;
	}
	.csl_bottom{
		position: relative;
		width: 50%;
		flex: 0 0 50%;
	}
}

@media(max-width: 992px){
	.csm_box {
	    position: relative;
	    max-width: 620px;
	    top: auto;
	    left: 50%;
	    transform: translateX(-50%);
	    padding: 60px 40px;
	}
	.csl_container{display: block;}
	.csl_top{
		width: 100%;
		margin-bottom: 80px;
	}
	.csl_bottom{
		width: 100%;
	}
}