:root{
	--colorPrimary: #3DD273;
	--colorSecondary: #D45151;

	--colorMorado: #403CBA;
	--colorAzul: #184494;
	--colorCeleste: #20A4F0;
	--colorVerde: #28CE7F;
	--colorAmarillo: #FCCE64;
	--colorRojo: #EA5050;
	--colorMagenta: #E23A8A;

	--colorBack: #2E3030;
	--colorWhite: #F4F3ED;

	--colorTitle: #384748;
	--colorSubtitle: #596d69;
	--colorText: #5e797d;
	--colorDetails: #909a99;
	--colorBorder: #e4eaed;

	--sizeDetails: 14px;
	--sizeText: 16px;
	--sizeSubtitle: 18px;
	--sizeTitle: 28px;
	--sizeBigtitle: 58px;

	--lineheightText: 1.6;
	--lineheightTitle: 1.4;
	--lineheightNone: 1;

	--itemShadow: 0px 18px 38px rgba(42,20,30,0.06);
}
body{
	font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5{
	font-family: 'Rubik', sans-serif;
}

.form_section{
	position: relative;
	width: 100%;
	height: 100vh;
}
.form_section .fs_content{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	height: 100%;
}
.form_section .fs_content .fs_lat{
	position: relative;
	width: 420px;
	height: 100%;
	flex: 0 0 420px;
	background-color: var(--colorMorado);
}
.fs_box{
	position: relative;
	width: calc(100% - 420px);
	flex: 0 0 calc(100% - 420px);
	height: 100%;
}

.fs_box .fs_form{
	position: relative;
	width: 400px;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fsf_title{
	position: relative;
	margin-bottom: 20px;
}
.fsf_title h4{
	font-size: 24px;
	font-weight: 700;
	color: var(--colorTitle);
}

.fs_form form label{
	font-size: 12px;
	font-weight: 600;
	color: var(--colorSubtitle);
	display: block;
	margin: 0px;
}

.fs_form form input{
	width: 100%;
	height: 38px;
	border: none;
	background-color: var(--colorWhite);
	padding: 4px 10px;
	border-radius: 4px;
}
.fs_form form button{
	width: 100%;
	height: 42px;
	background-color: var(--colorCeleste);
	border-radius: 4px;
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}






























.fs_separador{
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 1px;
	background-color: var(--colorBorder);
	z-index: 1;
}

.fs_separador:after{
	content: "";
	width: 24px;
	height: 8px;
	background-color: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 2
}
.fs_separador:before{
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid var(--colorBorder);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 3;
}